btrfsutil==1.1.1
imutils==0.5.3
joblib==1.1.1
lensfun==0.3.2
lightdm-gtk-greeter-settings==1.2.2
numpy==1.22.0
opencv-python==4.2.0.32
PyGObject==3.34.0
scikit-learn==0.21.3
scipy==1.10.0
sklearn==0.0
virtualenv==16.7.7
